<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/items">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>
        
        
        
        <div>                             
		<h2> Title: </h2>
			<p><span th:text="${blog.title}"></span></p>
		<h2> Author: </h2>
			<p><span th:text="${blog.poster}"></span></p>	
		<h2>URL:</h2>
			<a th:href="${blog.URL}"><span th:text="${blog.URL}"></span></a>
                
                <br/>
                <br/>
                <input type="submit" value="Mark as read" name="IsRead" />
                <input type="submit" value="Mark as unread" name="UnRead" />
                
        </div>
    </body>
</html>