<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/items">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>
        
        
        
        <div>   
            <h3><span th:text="${blog.title}"></span></h3>
            
                <li th:each="error: ${errors}">
                    <span th:text="${error}"></span>
                </li>
                <br/>
                <form  method="GET" name="markRead" action="markRead">
                    <input type="hidden" id="userBook" name="user" value ="default"/>
                    <input type="hidden" id="type" name="id" th:value ="${blog.id}"  />	
                    <input th:if="${blog.isRead} == '0'" type="submit" value="Mark as read" name="action" />
                    <input th:if="${blog.isRead} == '1'" type="submit" value="Mark as unread" name="action" />
		</form>
            
		<h2> Author: </h2>
			<p><span th:text="${blog.poster}"></span></p>	
		<h2>URL:</h2>
			<a th:href="${blog.URL}"><span th:text="${blog.URL}"></span></a>
                <h2> Tags:</h2>
                    <ul class="items">
                        <li class="tags" th:each="tag: ${tags}">
                            <p><span th:text="${tag}"></span></p>
                        </li>
                    </ul>
                <br/>
                <br/>
                <br/>
                <form  method="POST" name="addTag" th:action="${blog.id + '/addTag'}">
                    <input type="hidden" id="userTag" name="user" value ="default"/>
                    <input type="text" id="tag" name="tag"/>
                    <input type="submit" value="Add tag" name="Add tag" />
		</form>
                
        </div>
    </body>
</html>