<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/items">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>
        
        
        
        <div>      	
		<h2> Title: </h2>
			<p><span th:text="${book.title}"></span></p>
		<h2> Author: </h2>
			<p><span th:text="${book.author}"></span></p>
		<h2> Release year: </h2>
			<p><span th:text="${book.year}"></span></p>
		<h2> ISBN:</h2>
			<p><span th:text="${book.isbn}"></span></p>
		<h2> Tags:</h2>
			<ul class="items">
                            <li class="tags" th:each="tag: ${tags}">
                                <p><span th:text="${tag}"></span></p>
                            </li>
                        </ul>
                <br/>
                <br/>
				
			<form  method="GET" name="markRead" action="markRead">
				<input type="hidden" id="userBook" name="user" value ="default"/>
				<input type="hidden" id="type" name="id" th:value ="${book.id}"  />	
                <input type="submit" value="Mark as read" name="action" />
                <input type="submit" value="Mark as unread" name="action" />
			</form>
        </div>
    </body>
</html>