<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Mini Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/" >Home</a></li>
            <li class="nav"><a href="/books" class="active">View Books</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>        
        
        <div>
            <h1>NOT IMPLEMENTED</h1>
		
            <ul class="items">
                <li class="items" th:each="book: ${books}">
                    <a class="items" th:href="${'/book/' + book.id}" th:text="${book.title} + ' - '">Book Title</a>
                </li>
            </ul>
		
            
        </div>
    </body>
</html>