<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Mini Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/" >Home</a></li>
            <li class="nav"><a href="/items" class="active">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>        
        
        <div>
            <h1>The list of added items</h1>
		
            <ul class="items">
                <li class="items" th:each="itemType: ${items}">
                    <a class="items" th:href="${'/' + itemType.type +'/' + itemType.id}" th:text="${itemType.type + ' - ' + itemType.title}"></a>
                </li>
            </ul>
		
            
        </div>
    </body>
</html>