<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Mini Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/" >Home</a></li>
            <li class="nav"><a href="/items" class="active">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>        

        <div>			
            <h1>The list of added items</h1>
			<div align="right">
				<form  method="POST" name="logout" action="logout">
					<input type="submit" id="logoutButton" value="Logout" name="logout"/> 
				</form>
			</div>
            <h2>Select shown items</h2>


            <form  method="GET" name="SelectWhatTypesAreShown" action="SelectWhatTypesAreShown" style='display:inline;'>
                <input type="hidden" name="user" value ="default"/>            
                <input type="checkbox" id="vBooks" value="true" name="ViewBooks" th:checked="${ViewBooks} ?: 'true'"> Books</input>
                <input type="checkbox" id="vBlogs" value="true" name="ViewBlogs" th:checked="${ViewBlogs} ?: 'true'"> Blogs</input>
                <input type="checkbox" id="vVideos" value="true" name="ViewVideos" th:checked="${ViewVideos} ?: 'true'"> Videos</input>
                &ensp;|&ensp;
                <input type="checkbox" id="vRead" value="true" name="ViewRead" th:checked="${ViewRead} ?: 'true'">Read</input>
                <input type="checkbox" id="vUnread" value="true" name="ViewUnread" th:checked="${ViewUnread} ?: 'true'"> Unread</input>
                &ensp;|&ensp;
                <select name="SortingSelect" id="sorter">
                    <option id="SBType" value="SortByType" th:selected="${sortSelect=='SortByType'}">Sort By Type</option>
                    <option id="SBTitle" value="SortByTitle" th:selected="${sortSelect=='SortByTitle'}">Sort By Title</option>
                    <option id="SBAuthor" value="SortByAuthor" th:selected="${sortSelect=='SortByAuthor'}">Sort By Author</option>
                </select>
                &ensp;|&ensp;
                Search Tags:
                <input type="text" id="tags" name="tags"/>

                &emsp;
                <input type="submit" id="Show" value="Show" name="SelectWhatTypesAreShown"/> 
            </form>

            <br/>
            <br/>

            <ul id="itemsToSort" th:if="${items}" class="items">
                <li class="items" th:each="itemType: ${items}">
                    <a th:id="${itemType.id}" class="items" th:if="${itemType.isRead} == 0" th:href="${'/' + itemType.type +'/' + itemType.id}"  th:text="${itemType.type + ' - ' + itemType.getAuthor() + ' - ' + itemType.title}"></a>
                    <a th:id="${itemType.id}" class="items" th:if="${itemType.isRead} == 1" th:href="${'/' + itemType.type +'/' + itemType.id}" th:style="${'color: DarkGray;'}" th:text="${itemType.type + ' - ' + itemType.getAuthor() + ' - ' + itemType.title}"></a>
					<form style="display: inline;" method ="POST" action="/removeItem">
						<input type="hidden" name="itemID" th:value="${itemType.id}"/>         
						<Button name="removeId" type="submit" th:text="Remove" th:value="${itemType.id}"></Button>
					</form>
				</li>
            </ul>


        </div>
    </body>
</html>