<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create new Book entry</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/style.css"/>
    </head>
	
    <body>
        <ul class = "nav">
            <li class="nav"><a href="/" >Home</a></li>
            <li class="nav"><a href="/books" >View Books</a></li>
            <li class="nav"><a href="/newItem" class="active">Add new item</a></li>
        </ul>
        <div>
            <h1>Add new item</h1>
            <p><span th:text="${error}"></span></p>
            <br/>
            <input type="radio" name="type" value="book" checked="checked"> Book </input>
		
		<!-- For future reference
		<input type="radio" name="type" value="podcast"> Book</input>
		<input type="radio" name="type" value="video"> Book</input>
		!-->
		<br/>
        <form method="POST"  action="addItem">
			<input type="hidden" id="user" name="user" value ="default"/>
			
			Title of book:<br/>
			<input type="text" id="title" name="title"/><br/>
			
			ISBN:  <br/>
			<input type="text" id="isbn" name="isbn"/><br/>
			
			Author: <br/>
			<input type="text" id="author" name="author"/><br/>
			
			Publishing year: <br/>
			<input type="text" id="year" name="year"/><br/>
			
			<input type="submit" value="Add new book" name="Add new book"/>
        </form>
		
        </div>
    </body>
</html>
