<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Video</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/items">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>
        
        
        
        <div>   
            <h3><span th:text="${video.title}"></span></h3>
            
                <li th:each="error: ${errors}">
                    <span th:text="${error}"></span>
                </li>
                <br/>
                <form  method="GET" name="markRead" action="markRead">
                    <input type="hidden" id="userBook" name="user" value ="default"/>
                    <input type="hidden" id="type" name="id" th:value ="${video.id}"  />	
                    <input th:if="${video.isRead} == '0'" type="submit" value="Mark as read" name="action" id="read"/>
                    <input th:if="${video.isRead} == '1'" type="submit" value="Mark as unread" name="action" id="unread"/>
                </form>
           
		<h2> Author: </h2>
			<p><span th:text="${video.poster}"></span></p>
		<h2> URL: </h2>
                <a th:href="@{https://www.youtube.com/watch?v={url} (url=${video.URL})}" target="_blank"><span th:text="@{https://www.youtube.com/watch?v={url} (url=${video.URL})}"></span></a>
        <h2> Rating : </h2>
			<p><span th:text="${book.rating}"></span></p>
				<h2> Tags:</h2>
                    <ul class="items">
                        <li class="tags" th:each="tag: ${tags}">
                            <p><span th:text="${tag}"></span></p>
                        </li>
                    </ul>
                <br/>
                <br/>
                <br/>
                <form  method="POST" name="addTag" th:action="${video.id + '/addTag'}">
                    <input type="hidden" id="userTag" name="user" value ="default"/>
                    <input type="text" id="tag" name="tag"/>
                    <input type="submit" value="Add tag" name="Add tag" />
		</form>
                <br/>
                <br/>
				
                <iframe width="1280" height="720" th:src="@{https://www.youtube.com/embed/{url} (url=${video.URL})}"/>
        </div>
    </body>
</html>