<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>
        <ul class = "nav">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/items">View List</a></li>
            <li class="nav"><a href="/newItem">Add new item</a></li>
        </ul>
        
        
        
        <div>
		<h2> Title: </h2>
			<p><span th:text="${video.title}"></span></p>
		<h2> Author: </h2>
			<p><span th:text="${video.poster}"></span></p>
		<h2> URL: </h2>
			
                <br/>
                
                <iframe width="1280" height="720" th:src="@{https://www.youtube.com/embed/{url} (url=${video.URL})}"/>
        </div>
    </body>
</html>